body{
    margin: 0;
    background-color: lightgreen;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: maroon;
    backdrop-filter: blur(5px);
    width: 100%;
    background-color: hsl(195, 53%, 79%,0.5);
}
